<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnksl.learnksl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BasicsListActivity" />
        <activity android:name=".ui.DetailActivity" />
        <activity android:name=".ui.CommunicationActivity"
            android:theme="@style/Base.Theme">

        </activity>
        <activity android:name=".ui.AlphabetsListActivity" />
        <activity android:name=".ui.NumbersListActivity" />
        <activity android:name=".ui.DaysListActivity" />
        <activity android:name=".ui.MonthsListActivity" />
        <activity android:name=".ui.BasicsDetailActivity" />
        <activity android:name=".ui.TutorialsActivity" />
        <activity android:name=".ui.FeedbackActivity" />
        <activity android:name=".ui.FingerSpellingActivity" />
        <activity android:name=".ui.BasicWordsActivity" />
        <activity android:name=".ui.BodyAndHealthActivity" />
        <activity android:name=".ui.SchoolSignsActivity" />
        <activity android:name=".ui.FamilySignsActivity" />
        <activity android:name=".ui.OfficeSignsActivity" />
        <activity android:name=".ui.MoneyAndBusinessActivity" />
        <activity android:name=".ui.ColorsActivity"></activity>

    </application>

</manifest>